body {
    font-family: sans-serif;
    background-color:azure;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    border-radius: 25px;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: fantasy;
}

h1 {
    text-align: center;
    text-shadow: rgba(10, 10, 0, 0.5);
    color: rgb(22, 22, 22);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


p {
font-family: fantasy;
}


h1:hover {
    transform: scale(1.5);
    transition: all 3s linear;
}


.link-text:hover {
color: black;
}

a:hover {
    color: black;
}
